html {
  background-image: url('Candyland copy.jpg');
  background-size: cover;
  margin: 0 auto;
  min-height: 1000px;
}

.startSpace {
  position: absolute;
  height: 100px;
  width: 100px;
}

.start {
  display: inline-block;
  position: absolute;
  border: 3px solid black;
  border-radius: 10%;
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.boardContainer {
  position: absolute;
  perspective: 1000px;
  height: 1000px;
  width: 1270px;
  cursor: pointer;
  overflow: hidden;
}

.playerOne {
  position: relative;
  top: 20px;
  left: 20px;
  display: block;
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: white;
  margin-left: 0px;
  /*z-index: 3;*/
  border: 1px black solid;
}

.box1 {
  display: block;
  background-color: #FF5334;
  border-radius: 10%;
  margin-left: 125px;
  height: 80px;
  width: 80px;
}

.box2 {
  display: block;
  background-color: #FF07FD;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 210px;
  height: 80px;
  width: 80px;
}

.box3 {
  display: block;
  background-color: #FFF24B;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 295px;
  height: 80px;
  width: 80px;
}

.box4 {
  display: block;
  background-color: #03FFF2;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 380px;
  height: 80px;
  width: 80px;
}

.box5 {
  display: block;
  background-color: white;
  background-image: url('plum.png');
  background-size: cover;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 465px;
  height: 80px;
  width: 80px;
}

.box6 {
  display: block;
  background-color: #FFA417;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 550px;
  height: 80px;
  width: 80px;
}

.box7 {
  display: block;
  background-color: #61FF59;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 635px;
  height: 80px;
  width: 80px;
}

.box8 {
  display: block;
  background-color: #FF5334;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 720px;
  height: 80px;
  width: 80px;
}

.box9 {
  display: block;
  background-color: #FF07FD;
  border-radius: 10%;
  background-size: cover;
  margin-top: -80px;
  margin-left: 805px;
  height: 80px;
  width: 80px;
}

.box10 {
  display: block;
  background-color: white;
  background-image: url('candycane.png');
  background-size: cover;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 890px;
  height: 80px;
  width: 80px;
}

 .box11 {
  display: block;
  background-color: #FFF24B;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 975px;
  height: 80px;
  width: 80px;
 }

.box12 {
  display: block;
  background-color: #03FFF2;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 1060px;
  height: 80px;
  width: 80px;
}

.box13 {
  display: block;
  background-color: #FFA417;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 1145px;
  height: 80px;
  width: 80px;
}

.box14 {
  display: block;
  background-color: #61FF59;
  border-radius: 10%;
  margin-top: 5px;
  margin-left: 1145px;
  height: 80px;
  width: 80px;
}

.box15 {
  display: block;
  background-color: white;
  background-image: url('gumdrop.png');
  background-size: cover;
  border-radius: 10%;
  margin-top: 5px;
  margin-left: 1145px;
  height: 80px;
  width: 80px;
}

.box16 {
  display: block;
  background-color: #FF5334;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 1060px;
  height: 80px;
  width: 80px;
}

.box17 {
  display: block;
  background-color: #FF07FD;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 975px;
  height: 80px;
  width: 80px;
}

.box18 {
  display: block;
  background-color: #FFF24B;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 890px;
  height: 80px;
  width: 80px;
}

.box19 {
  display: block;
  background-color: #03FFF2;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 805px;
  height: 80px;
  width: 80px;
}

.box20 {
  display: block;
  background-color: white;
  background-image: url('peanut.png');
  border-radius: 10%;
  background-size: cover;
  margin-top: 5px;
  margin-left: 805px;
  height: 80px;
  width: 80px;
}

.box21 {
  display: block;
  background-color: #FFA417;
  border-radius: 10%;
  margin-top: 5px;
  margin-left: 805px;
  height: 80px;
  width: 80px;
}

.box22 {
  display: block;
  background-color: #61FF59;
  border-radius: 10%;
  margin-top: 5px;
  margin-left: 805px;
  height: 80px;
  width: 80px;
}

.box23 {
  display: block;
  background-color: #FF5334;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 720px;
  height: 80px;
  width: 80px;
}

.box24 {
  display: block;
  background-color: #FF07FD;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 635px;
  height: 80px;
  width: 80px;
}

.box25 {
  display: block;
  background-color: #FFF24B;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 550px;
  height: 80px;
  width: 80px;
}

.box26 {
  display: block;
  background-color: white;
  background-image: url('lollipop.png');
  background-size: cover;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 465px;
  height: 80px;
  width: 80px;
}

.box27 {
  display: block;
  background-color: #03FFF2;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 380px;
  height: 80px;
  width: 80px;
}

.box28 {
  display: block;
  background-color: #FFA417;
  border-radius: 10%;
  margin-top: -80px;
  margin-left: 295px;
  height: 80px;
  width: 80px;
}

.box29 {
  display: block;
  background-color: #61FF59;
  border-radius: 10%;
  background-size: cover;
  margin-top: -165px;
  margin-left: 295px;
  height: 80px;
  width: 80px;
}

.box30 {
  display: block;
  background-color: #FF5334;
  border-radius: 10%;
  background-size: cover;
  margin-top: -165px;
  margin-left: 295px;
  height: 80px;
  width: 80px;
}

.box31 {
  display: block;
  background-color: white;
  background-image: url('snowflake.gif');
  background-size: cover;
  border-radius: 10%;
  margin-top: -165px;
  margin-left: 295px;
  height: 80px;
  width: 80px;
}

.box32 {
  display: block;
  background-color: #FF07FD;
  border-radius: 10%;
  background-size: cover;
  margin-top: -80px;
  margin-left: 210px;
  height: 80px;
  width: 80px;
}

.box33 {
  display: block;
  background-color: #FFF24B;
  border-radius: 10%;
  background-size: cover;
  margin-top: -80px;
  margin-left: 125px;
  height: 80px;
  width: 80px;
}

.end {
  display: block;
  background: -webkit-linear-gradient(#FF5334, #FFA417, #FFF24B, #61FF59, #03FFF2, #FF07FD);
  border: 3px solid black;
  border-radius: 10%;
  height: 100px;
  width: 100px;
  z-index: -1;
  margin-top: -80px;
  margin-left: 10px;
}

.logoCard {
  display: inline-block;
  top: 50px;
  left: 50px;
  background-color: white;
  border: 3px solid black;
  height: 240px;
  width: 160px;
  background-image: url('http://orig05.deviantart.net/8d46/f/2012/083/d/d/dd2a7bfab865239dfcabb22c6065061e-d4tsolk.png');
  background-size: cover;
  border-radius: 10%;
  margin-top: 150px;
  margin-left: 430px;
  font-family: sans-serif;
  transition: transform 0.5s;
  transform: rotateY(180deg);
}

.card {
  display: inline-block;
  top: 50px;
  left: 50px;
  background-color: white;
  border: 3px solid black;
  height: 240px;
  width: 160px;
  background-image: url('http://orig05.deviantart.net/8d46/f/2012/083/d/d/dd2a7bfab865239dfcabb22c6065061e-d4tsolk.png');
  background-size: cover;
  border-radius: 10%;
  margin-top: 100px;
  font-family: sans-serif;
  transition: transform 0.5s;
  transform: rotateY(180deg);
}
